fastapi~=0.115.12
uvicorn[standard]
python-dotenv~=1.1.0
ccxt~=4.4.86
pandas~=2.2.3
pandas-ta
openai
httpx~=0.28.1
google-generativeai
pydantic~=2.11.5
pandas_ta==0.4.71b0
protobuf~=5.29.5
rich~=14.0.0
SQLAlchemy~=2.0.41
alembic~=1.16.4
psycopg2-binary
APScheduler~=3.11.0
backtrader~=1.9.78.123
numpy~=1.26.4